<div class="container">
  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
  </div>
  <h1>User Management</h1>
  
  <!-- Loader -->

  
  <!-- Users List -->
  <div *ngIf="!loading && users.length > 0">
    <table class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <!-- Edit Button: Opens the dialog for editing -->
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"> Edit</button>
            
            <!-- Delete Button: Opens the confirmation dialog for deleting -->
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteUser(user)"> Delete </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- No Users Message -->
  <div *ngIf="!loading && users.length === 0" class="no-users">
    <p>No users found.</p>
  </div>
  
  <!-- Dialog for Updating User -->
  <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details">
    <ng-template pTemplate="content">
      <img
        [src]="'../../../assets/images/Avatars/' + user.imageURL"
        [alt]="user.imageURL"
        width="150"
        class="mt-0 mx-auto mb-5 block shadow-2"
        (error)="onImageError($event)"
      />
      <div class="field">
        <label for="name">Name</label>
        <input type="text" pInputText id="name" [(ngModel)]="user.name" required/>
        <div *ngIf="submitted && !user.name" class="p-error">Name is required.</div>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <textarea id="email" pInputTextarea [(ngModel)]="user.email" rows="3" cols="20" required></textarea>
        <div *ngIf="submitted && !user.email" class="p-error">Email is required.</div>
      </div>
      <div class="formgrid grid">
        <div class="field">
          <label for="password">Password</label>
          <input type="password" pInputText id="password" [(ngModel)]="user.password" required />
          <div *ngIf="submitted && !user.password" class="p-error">Password is required.</div>
        </div>
      </div>
      <div class="field">
        <label for="image">Image</label>
        <input type="file" (change)="onFileSelected($event)" />
        <div *ngIf="submitted && !user.imageURL" class="p-error">Image is required.</div>
      </div>
   

      <button pButton pRipple label="Cancel"  (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" (click)="save()"Save></button>
    </ng-template>
  </p-dialog>
</div>
