<div class="user-management p-grid">
  <!-- User List - Only visible when the dialog is not open -->
  <div class="user-list p-col-12" *ngIf="!userDialog">
    <p-table [value]="users" [(selection)]="selectedUsers" [paginator]="true" [rows]="10" [loading]="loading" class="custom-table">
      <ng-template pTemplate="header">
        <tr>
          <th>Profile Picture</th>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user">
          <td>
            <img
            [src]="'../../../assets/images/Avatars/' + user.imageURL"
            [alt]="user.imageURL"
            width="150"
            class="mt-0 mx-auto mb-5 block shadow-2"
            (error)="onImageError($event)"
          />          </td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button pButton type="button" class="simple-btn edit-btn" (click)="editUser(user)">Edit</button>
            <button pButton type="button" class="simple-btn delete-btn" (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  <!-- Dialog for Adding/Editing Users -->
  <p-dialog header="User Details" [(visible)]="userDialog" [modal]="true" [closable]="false" [style]="{ width: '450px' }" class="custom-dialog">
    <form [formGroup]="registerForm">
      <div class="p-fluid">
        <div class="p-field">
          <label for="name">Name</label>
          <input id="name" pInputText formControlName="name" [(ngModel)]="user.name" class="input-field"/>
        </div>

        <div class="p-field">
          <label for="email">Email</label>
          <input id="email" pInputText formControlName="email" [(ngModel)]="user.email" class="input-field"/>
        </div>

        <div class="p-field">
          <label for="role">Role</label>
          <select id="role" formControlName="role" [(ngModel)]="user.role" class="input-field">
            <option value="MANAGER">MANAGER</option>
            <option value="COLLAB">COLLAB</option>
          </select>
        </div>

        <div class="p-field">
          <label for="image">Profile Image</label>
          <input type="file" (change)="onFileSelected($event)" class="input-file"/>
        </div>
      </div>
    </form>

    <p-footer>
      <button pButton label="Cancel" icon="pi pi-times" (click)="hideDialog()" class="cancel-btn">Cancel</button>
      <button pButton label="Save" icon="pi pi-check" (click)="save()" [disabled]="!registerForm.valid" class="save-btn">Save</button>
    </p-footer>
  </p-dialog>
</div>
