/* Dialog styling */
.mat-dialog-container {
    padding: 20px;
  }
  
  /* Form styling */
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-left: 10px;
  }
  