<div class="reclamation-container">
  <hr>

  <div class="reclamation-list">
    <h3>Reclamation List</h3>
    <ul class="list-group">
      <li *ngFor="let reclamation of reclamations" class="list-group-item">
        <strong>{{ reclamation.commentaire }}</strong>
        <br>
        <span>Date Added: {{ reclamation.dateadd | date:'short' }}</span>
        <br>
        <span>Last Updated: {{ reclamation.dateupdate | date:'short' }}</span>
        <br>
        <span>Statut: {{ reclamation.statut }}</span>
        <br>
        <button 
          class="btn" 
          [ngClass]="{
            'btn-warning': reclamation.statut === 'WAITING',
            'btn-success': reclamation.statut === 'TREATED'
          }" 
          (click)="editReclamation(reclamation)"
        >
          {{ reclamation.statut === 'WAITING' ? 'Treated' : 'Already Treated' }}
        </button>
      </li>
    </ul>
  </div>
</div>
