<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Admin Dashboard</h1>
  </header>

  <main class="dashboard-main">
    <section class="stats-section">
      <div class="stat-card">
        <h2>Total Users</h2>
        <p>{{ totalUsers }}</p>
      </div>
      <div class="stat-card">
        <h2>Total Boards</h2>
        <p>{{ totalBoards }}</p>
      </div>


   
      <div class="stat-card">
        <h2>Tasks - To Do</h2>
        <p>{{ taskCounts?.ToDo }}</p>
      </div>
      <div class="stat-card">
        <h2>Tasks - Proceeding</h2>
        <p>{{ taskCounts?.Proceeding }}</p>
      </div>
      <div class="stat-card">
        <h2>Tasks - Done</h2>
        <p>{{ taskCounts?.Done }}</p>
      </div>
    </section>


    <section class="charts-section">
      <div class="chart">
        <h3>Task Status</h3>
        <canvas id="statusChart"></canvas>
      </div>
      <div class="chart">
        <h3>Priority Distribution</h3>
        <canvas id="priorityChart"></canvas>
      </div>
      <div class="chart-container">
        <canvas id="reclamationChart"></canvas>
      </div>
    </section>

  </main>
</div>
